services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "5055:5055"
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"
    env_file:
      - .env
    depends_on:
      - backend
    restart: unless-stopped
